.btn.yellow {
  background: var(--gradient-yellow-left);
}

.btn.yellow:hover {
  background: var(--gradient-yellow-right);
}

.btn.blue {
  background: var(--gradient-blue-left);
}

.btn.blue:hover {
  background: var(--gradient-blue-right);
}

a.green:not(.btn) {
  color: var(--dark-green);
}

a.yellow:not(.btn) {
  color: var(--dark-yellow);
}

.footer-icon.blue {
  background-image: url('../assets/logo-blue-gradient.png');
}

.footer-icon.yellow {
  background-image: url('../assets/logo-yellow-gradient.png');
}

.step .delimiter.yellow {
  background: var(--dark-yellow);
}

.step .delimiter.blue {
  background: var(--light-blue);
}

.copy.yellow {
  background: var(--gradient-yellow-left);
}

.copy.yellow:hover {
  background: var(--gradient-yellow-right);
}

.copy.green {
  background: var(--gradient-green-left);
}

.copy.green:hover {
  background: var(--gradient-green-right);
}

.copy.blue {
  background: var(--gradient-blue-left);
}

.copy.blue:hover {
  background: var(--gradient-blue-right);
}
