.brand-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
}

.meta-results,
.meta-content {
  align-items: center;
  border: 1px solid var(--light-gray);
  border-radius: 2px;
  display: flex;
  margin: 60px 0;
  padding: 20px;
}

h2.light {
  font-weight: 500;
  text-transform: uppercase;
}

.info-warning {
  color: var(--dark-yellow);
}

.btn.warning {
  background: var(--dark-gray);
  color: var(--black);
  float: right;
  font-size: 12px;
  height: 30px;
  padding: 0 10px;
  width: initial;
}

.btn.warning:hover {
  background: var(--dark-yellow);
  color: #ffffff;
}

.results-content {
  margin-bottom: 40px;
  overflow-wrap: break-word;
}

.main.light.fullpage {
  align-items: initial;
}

.main.light .content.results {
  margin-top: 60px;  
}

.test {
  align-items: center;
  border-bottom: 1px solid var(--light-gray);
  display: flex;
  padding: 20px;
}

.badge {
  align-items: center;
  background-color: var(--light-green);
  border-radius: 2px;
  color: white;
  display: flex;
  height: 35px;
  justify-content: center;
  margin-right: 20px;
  min-width: 90px;
  max-width: 90px;
}

.badge.failed {
  background: var(--dark-yellow);
}

.failure-info .logs {
  background-color: var(--black-transparent);
  border-radius: 2px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.35;
  margin-top: 10px;
  padding: 20px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.failure-info h4 {
  color: var(--black-transparent);
  margin-top: 20px;
}

.accordion {
  background-color: var(--light-gray);
  cursor: pointer;
  transition: 0.4s;
}

.accordion .more-info {
  color: var(--black-transparent);
  font-size: 45px;
  font-weight: 300;
  line-height: 0;
  margin-left: auto;
}

.accordion.active, .accordion:hover {
  background-color: var(--dark-gray);
}

/* Failure panel hidden by default */
.panel {
  display: none;
}

.left-flex {
  max-width: 750px;
  margin-right: auto;
}

strong.right {
  float: right;
}

/* Rerun Sonobuoy Side-Panel */
.side-panel {
  background-color: #ffffff;
  border-left: 2px solid var(--dark-gray);
  height: 100vh;
  max-width: calc(100vw - 40px);
  overflow-x: hidden;
  padding: 20px;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
  width: 650px;
}

.side-panel-view {
  transform: translateX(0);
}

.side-panel .header {
  height: 100px;
}

.side-panel .step {
  margin-top: 30px;
}

.close-btn {
  font-size: 30px;
  color: var(--darker-gray);
  float: right;
  text-transform: uppercase;
}

.close-btn .close-icon {
  color: var(--dark-gray);
  font-size: 40px;
  font-weight: 300;
}

/* Empty Report */

.no-data {
  text-align: center;
}

.no-data form {
  margin-top: 60px;
}

/* no results */
.btn.small {
  margin: auto;
  padding: 0 40px;
  width: initial;
}