@import url('https://fonts.googleapis.com/css?family=Raleway:300,500,700');

:root {
  /* Base Colors */
  --black: #101010;
  --white: #ffffff;
  --light-gray: #ddddd8; 
  --dark-gray: #c0c0be;
  --darker-gray: #3B3B3B;

  /* Transparents */
  --black-transparent: RGBA(16, 16, 16, 0.8);
  
  /* Solids */
  --light-yellow: #f3bf2c;
  --dark-yellow: #f2582d;
  --light-blue: #2aace8;
  --dark-blue: #122b4d;
  --light-green: #92dc52;
  --dark-green: #116d2d;

  /* Gradients */
  --gradient-yellow: linear-gradient(var(--light-yellow), var(--dark-yellow));
  --gradient-blue: linear-gradient(var(--light-blue), var(--dark-blue));
  --gradient-green: linear-gradient(var(--light-green), var(--dark-green));

  --gradient-yellow-left: linear-gradient(to left, var(--light-yellow), var(--dark-yellow));
  --gradient-blue-left: linear-gradient(to left, var(--light-blue), var(--dark-blue));
  --gradient-green-left: linear-gradient(to left, var(--light-green), var(--dark-green));
  
  --gradient-yellow-right: linear-gradient(to right, var(--light-yellow), var(--dark-yellow));
  --gradient-blue-right: linear-gradient(to right, var(--light-blue), var(--dark-blue));
  --gradient-green-right: linear-gradient(to right, var(--light-green), var(--dark-green));

  /* Typeface */
  --base-font-family: 'Raleway', Arial, sans-serif;
  --base-font-color: var(--black);
}